# =========================
# POSTGRES
# =========================
POSTGRES_USER=postgres
POSTGRES_PASSWORD=CHANGE_ME
POSTGRES_DB=nfe_db

DB_HOST=postgres
DB_PORT=5432

NFE_DB_NAME=nfe_db
CLIENT_DB_NAME=client_db
BORDERO_DB_NAME=bordero_db

# =========================
# KAFKA
# =========================
KAFKA_BOOTSTRAP_SERVERS=kafka:29092
KAFKA_CLUSTER_ID=CHANGE_ME

# =========================
# EUREKA
# =========================
EUREKA_SERVER_URL=http://eureka-server:8761/eureka/
